{
  "extends":[
    "airbnb"
  ],

  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },

  "parser": "typescript-eslint-parser",

  "rules": {
    "max-len": ["error", {"code": 120, "ignoreComments": true}],
    "one-var": "off",
    "object-curly-spacing": ["error", "always"],
    "object-curly-newline": ["error", {
      "consistent": true
    }],
    "no-multiple-empty-lines": ["error", {"max": 1}],
    "arrow-parens": ["error", "as-needed"],
    "newline-per-chained-call": "off",
    "no-plusplus": "off",
    "spaced-comment": "off",
    "semi-style": "off",
    "function-paren-newline": "off",
    "one-var-declaration-per-line": "off",
    "implicit-arrow-linebreak": "off",

    "import/no-extraneous-dependencies": [
      "error",
      {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}
    ],
    "import/prefer-default-export": "off",

    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/valid-expect": "error"
  },

  "settings": {
    "import/resolver": {
      // use <root>/tsconfig.json
      "typescript": {}
    }
  },
  
  "plugins": [
    "jest"
  ]
}
